:root {
  --primary-background-color: #474955;
  --secondary-background-color: #5A5C66;
  --light-background-color: #fff;

  --table-color: #E3E6EC;

  --title-color: #fff;
  --primary-text-color: #474955;
  --secondary-text-color: #B2B7BF;
  --accent-color: #7EBC3C;
}