* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
}


@font-face {
  font-family: "Roboto";
  src: url('./fonts/Roboto-Regular.woff2') format("woff2"),
  url('./fonts/Roboto-Regular.woff') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }